<h1>Question 4 - Extracting GameStop Stock Data Using a Web Scraping</h1>

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

## Using Webscraping to Extract Tesla Stock Data

We will extract GameStop stock data [https://raw.githubusercontent.com/alyab16/Python-Project-for-Data-Science/main/GameStop%20Corp.%20(GME)%20Stock%20Historical%20Prices%20%26%20Data%20-%20Yahoo%20Finance.html](https://raw.githubusercontent.com/alyab16/Python-Project-for-Data-Science/main/GameStop%20Corp.%20(GME)%20Stock%20Historical%20Prices%20%26%20Data%20-%20Yahoo%20Finance.html).

In [2]:
url = "https://raw.githubusercontent.com/alyab16/Python-Project-for-Data-Science/main/GameStop%20Corp.%20(GME)%20Stock%20Historical%20Prices%20%26%20Data%20-%20Yahoo%20Finance.html"
data  = requests.get(url).text

In [3]:
soup = BeautifulSoup(data, 'html5lib')
gme_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])

In [4]:
# First we isolate the body of the table which contains all the information
# Then we loop through each row and find all the column values for each row
for row in soup.find("tbody").find_all('tr'):
    col = row.find_all("td")
    date = col[0].text
    Open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[6].text
    
    # Finally we append the data of each row to the table
    gme_data = gme_data.append({"Date":date, "Open":Open, "High":high, "Low":low, "Close":close, "Adj Close":adj_close, "Volume":volume}, ignore_index=True)

In [5]:
gme_data.head()

           Date   Open   High    Low  Close     Volume Adj Close
0  Feb 08, 2024  14.01  14.44  13.89  14.35  1,823,825     14.35
1  Feb 07, 2024  14.12  14.30  13.78  14.07  1,947,800     14.07
2  Feb 06, 2024  13.60  14.30  13.43  14.10  3,047,800     14.10
3  Feb 05, 2024  14.50  14.61  13.40  13.46  4,361,500     13.46
4  Feb 02, 2024  14.15  14.92  14.08  14.73  2,922,600     14.73

# Extracting data using `pandas` library

In [6]:
read_html_pandas_data = pd.read_html(url)
read_html_pandas_data = pd.read_html(str(soup))
gme_dataframe = read_html_pandas_data[0]
gme_dataframe.head()

           Date   Open   High    Low Close* Adj Close**   Volume
0  Feb 08, 2024  14.01  14.44  13.89  14.35       14.35  1823825
1  Feb 07, 2024  14.12  14.30  13.78  14.07       14.07  1947800
2  Feb 06, 2024  13.60  14.30  13.43  14.10       14.10  3047800
3  Feb 05, 2024  14.50  14.61  13.40  13.46       13.46  4361500
4  Feb 02, 2024  14.15  14.92  14.08  14.73       14.73  2922600